/* div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 10%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
} */
/* 
div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */
input.error {
  border: 2px solid red;
}
